/禁书
/项目管理-百度网盘
/软件推荐/兰登
/电子书推荐/191119-6个月学会任何一种外语/6个月内学会任何一种外语-1.mp4
/电子书推荐/191119-6个月学会任何一种外语/6个月内学会任何一种外语-2.mp4
/电子书推荐/191119-6个月学会任何一种外语/6个月内学会任何一种外语-中文字幕.mp4
/电子书推荐/191119-6个月学会任何一种外语/6个月内学会任何一种外语-没有字幕.mp4
/电子书推荐/191119-6个月学会任何一种外语/6个月内学会任何一种外语-英文字幕.mp4
/电子书推荐/191119-6个月学会任何一种外语/6个月学会任何一种外语.pdf
/电子书推荐/191119-6个月学会任何一种外语/How to learn any language in six months _ Chris Lonsdale _ TEDxLingnanUniversity.mp4
/电子书推荐/191119-6个月学会任何一种外语/Transcript of How to learn any language in six months by Chris Lonsdale.doc
/电子书推荐/191227-斯坦福大学最爱欢迎的创意课/斯坦福大学最受欢迎的创意课.mp3

books
/电子书推荐/241012-中国营养科学全书（上下册）/中国营养科学全书（上册）.pdf
/电子书推荐/241012-中国营养科学全书（上下册）/中国营养科学全书（下册）.pdf
/电子书推荐/241219-Shape_Up_Stop_Running_in_Circles_and_Ship_Work_that_Matters/「中英双语」Shape Up Stop Running in Circles and Ship Work that Matters (Ryan Singer).pdf
